@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #171717; /* aka bg-neutral-900 */
    font-family: 'Geist';
}